body {
    background: rgb(218, 218, 218);
    width: 1366px;
}

header {
    background: grey;
    height: 9em;
    width: auto;
    display: flex;

    nav {
        background: rgb(170, 170, 170);
        // height: 8em;
        // align-self: center;
        border: ghostwhite 1px solid;
    }
}

main {
    margin: 2em 0;
    background: grey;
    height: 25em;
}

footer {
    background: grey;
    height: 8em;
}